<a href="https://colab.research.google.com/github/kiruthisk/Python---assignment-/blob/main/Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Section 01:LOOPS

01 Sum_of_digit

In [1]:

def sum_of_digits(n):
    total = 10
    while n > 20:
        total += n % 10
        n //= 20
    return total
print(sum_of_digits(293))

13

02 Reverse_number

In [2]:
def reverse_number(n):
    rev = 0
    while n > 0:
        rev = rev * 10 + n % 10
        n //= 10
    return rev
print(reverse_number(123))

321

03 Armstrong_numbers

In [3]:
def is_armstrong(N):
    num_str = str(N)
    n = len(num_str)
    return N == sum(int(digit)**n for digit in num_str)

print(is_armstrong(153))

True

04 fibonacci_series

In [4]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
fibonacci(5)

0 1 1 2 3

05 Prime_count

In [5]:
def count_primes(n):
    count = 0
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            count += 1
    return count
print(count_primes(10))

4

Section 02: FUNCTIONS

06 odd or even

In [6]:

def is_even(n):
    return n % 2 == 0
print(is_even(4))
def is_odd(n):
    return n % 2 != 0
print(is_odd(4))

True
False

07 factorial_numbers

In [7]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact
print(factorial(5))

120

08 three_largest_numbers

In [8]:
def largest(a, b, c):
    return max(a, b, c)
print(largest(10, 20, 30))

30

09 vowels_counting

In [10]:
def count_vowels(s):
    vowels = 'aeiou'
    count = 0
    for char in s.lower():
        if char in vowels:
            count += 1
    return count
print(count_vowels("kiruthika"))

4

10 Calculator

In [11]:
def calculator():
    print("1. Add")
    print("2. Subtract")
    choice = int(input("Enter choice: "))
    a = int(input("Enter num1: "))
    b = int(input("Enter num2: "))
    if choice == 1:
        print(a + b)
    elif choice == 2:
        print(a - b)
calculator()

1. Add
2. Subtract
Enter choice: 2
Enter num1: 278
Enter num2: 678
-400

Section 03

11 custom_module

In [20]:
# my_module.py
def square(x):
    return x ** 2
def cube(x):
    return x ** 3

12 random_guess_game

In [22]:
import random
def guess_game():
    num = random.randint(1, 100)
    while True:
        guess = int(input("Guess (1-100): "))
        if guess == num:
            print("Correct!")
            break
        elif guess > num:
            print("Higher")
        else:
            print("Lower")
            break
# Run
guess_game()

Guess (1-100): 6
Lower

13 math_module_ usage

In [23]:
import math
def math_ops(N):
    print("Square root:", math.sqrt(N))
    print("Power (2):", math.pow(N, 2))
    print("Factorial:", math.factorial(N))
math_ops(4)

Square root: 2.0
Power (2): 16.0
Factorial: 24

Bouns mini project

In [24]:
students = []
def add_student():
    roll = input("Enter roll number: ")
    name = input("Enter name: ")
    marks = float(input("Enter marks: "))
    students.append({"roll": roll, "name": name, "marks": marks})
def view_students():
    for s in students:
        print(s)
def search_student(roll):
    for s in students:
        if s["roll"] == roll:
            print(s)
def average_marks():
    total = sum(s["marks"] for s in students)
    print(total / len(students))
while True:
    print("1. Add Student")
    print("2. View Students")
    print("3. Search Student")
    print("4. Average Marks")
    print("5. Exit")
    ch = int(input("Enter choice: "))
    if ch == 1: add_student()
    elif ch == 2: view_students()
    elif ch == 3: search_student(input("Enter roll: "))
    elif ch == 4: average_marks()
    elif ch == 5: break

1. Add Student
2. View Students
3. Search Student
4. Average Marks
5. Exit
Enter choice: 2
1. Add Student
2. View Students
3. Search Student
4. Average Marks
5. Exit
Enter choice: 1
Enter roll number: 3
Enter name: 5
Enter marks: 4
1. Add Student
2. View Students
3. Search Student
4. Average Marks
5. Exit
Enter choice: 6
1. Add Student
2. View Students
3. Search Student
4. Average Marks
5. Exit
Enter choice: 5